@model PostHost.Content

@{ 
    ViewBag.Title = "Upload Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestAddingBETTER</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("PostedBy")
        @*<div class="form-group">
            @Html.LabelFor(model => model.PostedBy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostedBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostedBy, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ImgURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImgURL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImgURL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            <label class="control-label col-md-2">Tags</label>
            <div class="col-md-10">
                <a data-toggle="modal" data-target="#AddModal">Add </a>
                @*<a data-toggle="modal" data-target="#CreateModal">Create</a>*@
            @*</div>*@

            @*<div id="CreateModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Create a tag</h4>
                        </div>
                        @using (Html.BeginForm("tagCreator", "Home"))
                        {
                            <div class="modal-body">
                                <input type="text" id="tc" name=""/>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Create Tag" />
                            </div>
                        }
                    </div>
                </div>
            </div>*@

            @*<div id="AddModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            Add a tag
                        </div>
                        <div class="modal-body">
                            @{Html.RenderAction("_AddtagsPV", "Home");}
                        </div>
                        <div class="modal-footer">
                            <button>Add Tag</button>
                        </div>
                    </div>
                </div>
            </div>*@
        @*</div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
