@model PostHost.Models.ContentViewModels

@{
    ViewBag.Title = "ViewSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tempnextbut = TempData["shownextbutton"];
    var tempnext = TempData["nextId"];
    var tempprevbut = TempData["showprevbutton"];
    var tempprev = TempData["prevId"];
}

<div class="post-view">
    <div class="post-header">
        <h2 class="post-title">@Model.theContent.Title</h2>
        @if (tempprevbut.Equals(true))
        {
            @Html.ActionLink("Previous Post", "ViewSingle", "Home", new { C_Id = tempprev }, new { @class = "btn btn-primary" });
        }
        else
        {
            <button type="button" class="btn btn-primary" disabled>First Post</button>
        }
        @if (tempnextbut.Equals(true))
        {
            @Html.ActionLink("Next Post", "ViewSingle", "Home", new { C_Id = tempnext }, new { @class = "btn btn-primary" });
        }
        else
        {
            <button type="button" class="btn btn-primary" disabled>Last Post</button>
        }
    </div>
    <div>
        <img class="singleview-image" src="@Url.Content(Model.theContent.ImgURL)" />
    </div>
    <div class="post-bottom">
        <p class="post-description">@Model.theContent.Description</p>
        <div>@Model.theContent.Likes</div>
        <div>@Model.theContent.Dislikes</div>
    </div>
    <div>
        @foreach(var x in Model.theTags)
        {
            <button>@x.slatedTitle </button>
        }
    </div>
</div>

