@model PostHost.Models.ContentViewModels

@{
    ViewBag.Title = "ViewSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tempnextbut = TempData["shownextbutton"];
    var tempnext = TempData["nextId"];
    var tempprevbut = TempData["showprevbutton"];
    var tempprev = TempData["prevId"];
}

<div class="post-view">
    <div class="post-header">
        <h2 class="post-title">@Model.theContent.Title</h2>
        @if (tempprevbut.Equals(true))
        {
            @Html.ActionLink("Previous Post", "ViewSingle", "Home", new { C_Id = tempprev }, new { @class = "btn btn-primary" });
        }
        else
        {
            <button type="button" class="btn btn-primary" disabled>First Post</button>
        }
        @if (tempnextbut.Equals(true))
        {
            @Html.ActionLink("Next Post", "ViewSingle", "Home", new { C_Id = tempnext }, new { @class = "btn btn-primary" });
        }
        else
        {
            <button type="button" class="btn btn-primary" disabled>Last Post</button>
        }
    </div>
    <div>
        <img class="singleview-image" src="@Url.Content(Model.theContent.ImgURL)" />
    </div>
    <div class="post-bottom">
        <p class="post-description">@Model.theContent.Description</p>

        @{Html.RenderPartial(
              "_LikesPartial" 
              );
        }

    </div>
    <div>
        @foreach(var x in Model.theTags)
        {
            <button>@x.slatedTitle </button>
        }
    </div>
    @if (Request.IsAuthenticated) {
        <div class="commentcreation">
            @using (Html.BeginForm("CommentCreator", "Home", new { C_Id = Model.theContent.C_Id })) {
            @Html.TextArea("comment");
            <input class="btn btn-success" type="submit" value="Add Comment" />
            }
        </div>
            }
    else
    {
        <div class="well-sm">
            <h4>You must be logged in to leave a comment</h4>
        </div>
    }
    <div class="showcomments">
        @foreach (var c in Model.theComments)
        {
            <div class="well-sm">
                <h6> Posted by: @c.Posted_Username</h6>
                <br />
                <p>@c.User_Comment</p>
            </div>
        }
    </div>
</div>

