@using PostHost.Models
@model ContentViewModels

@{
    ViewBag.Title = "ViewSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tempnextbut = TempData["shownextbutton"];
    var tempnext = TempData["nextId"];
    var tempprevbut = TempData["showprevbutton"];
    var tempprev = TempData["prevId"];
}

<div class="post-view">
    <div class="post-header">
        <h2 class="post-title">@Model.theContent.Title</h2>
        @if (tempprevbut.Equals(true))
        {
            @Html.ActionLink("Previous Post", "ViewSingle", "Home", new { C_Id = tempprev }, new { @class = "btn btn-primary" });
        }
        else
        {
            <button type="button" class="btn btn-primary" disabled>First Post</button>
        }
        @if (tempnextbut.Equals(true))
        {
            @Html.ActionLink("Next Post", "ViewSingle", "Home", new { C_Id = tempnext }, new { @class = "btn btn-primary" });
        }
        else
        {
            <button type="button" class="btn btn-primary" disabled>Last Post</button>
        }
    </div>
    <div class="singleview-imagediv">
        <img class="singleview-image" src="@Url.Content(Model.theContent.ImgURL)" />
    </div>
    <div class="post-bottom">
        <p class="post-description">@Model.theContent.Description</p>
        <div class="like_dislike_div">
            @{Html.RenderAction("likeModifier", "Home", new {value=0, toMod=@Model.theContent.C_Id }); }
        </div>
    </div>
    <div>
        @foreach (var x in Model.theTags)
        {
            @Html.ActionLink(x.slatedTitle, "Index", "Home", new { searchtype = x.slatedTitle, searchstring = x.slatedTitle }, new { @class = "btn btn-primary" });
        }
    </div>
    <div class="comments_partial">
        @{Html.RenderAction("CommentCreator", "Home", new {id = Model.theContent.C_Id}); }
    </div>
</div>

